extends layout

block content
  nav.navbar.navbar-expand-lg.fixed-top.px-3.bg-body-tertiary(data-bs-theme="dark")
    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    div#navbarRight.d-flex.align-items-center.ms-auto.order-md-last.gap-2
      // Always show search on navigation pages; mobile uses icon toggle
      div.d-flex.align-items-center.text-nowrap.me-2
        span.navbar-text.me-1 Count:
        span#gameCount.navbar-text(data-total=items.length) #{items.length}
        a#clearFilter.ms-1(href="#", title="Clear filter", style="display:none")
          i.bi.bi-x-circle.fs-4
      button#mobileSearchToggle.btn.btn-link.p-0.text-secondary.d-lg-none(type='button', aria-label='Search')
        i.bi.bi-search.fs-5
      form#searchForm.d-none.d-lg-flex.mt-1.mt-lg-0.me-2.search-input-wrapper
        input#gameSearch.form-control(type='search', placeholder='Search', aria-label='Search')
      if showHome
        a(href=homeUrl, title="Home")
          i.bi.bi-house-fill.fs-4
      if !kioskMode
        a(href='/settings', title="Settings")
          i.bi.bi-gear-fill.fs-4
      // Mode toggle will be injected by JS as last
    div.collapse.navbar-collapse(id='navbarNav')
      ul.navbar-nav.nav.me-auto
        li.nav-item
          a.nav-link(href='/home') Home
        li.nav-item
          a.nav-link.active(href='/playlists') Playlists

  div.container-fluid

    if error
      div.alert.alert-danger(role='alert') #{error}

    if !items.length && !error
      div.alert.alert-info(role='alert') No items found.

    div#playlistsRow.row.g-0
      each item in items
        div.col-6.col-md-4.col-lg-3.col-xl-2.my-auto.game
          div.wheel-wrap
            a(href=item.link, title=item.display, data-original-title=item.display, data-bs-toggle='tooltip', data-go-back=item.goBack ? 'true' : null)
              img.wheel.img-fluid.lazyload(
                class=item.cssClass,
                src=item.placeholder,
                data-src=item.src,
                alt=item.display
              )
            if item.gameId
              i.bi.favorite(class=item.favorite ? 'bi-star-fill' : 'bi-star', data-gameid=item.gameId, data-fav=item.favorite)
