extends layout

block content
  nav.navbar.navbar-expand-lg.fixed-top.px-3.bg-body-tertiary(data-bs-theme="dark")
    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    div#navbarRight.d-flex.align-items-center.ms-auto.order-md-last.gap-2
      a(href=homeUrl, title="Home")
        i.bi.bi-house-fill.fs-3
    div.collapse.navbar-collapse(id='navbarNav')
      ul.navbar-nav.nav.me-auto
        li.nav-item
          a.nav-link(href='/home') Home
        li.nav-item
          a.nav-link(href='/playlists') Playlists

  div.container-fluid
    div.row.justify-content-center.mt-5
      div.col-12.col-sm-8.col-md-5.col-lg-4
        div.card(data-bs-theme="dark")
          div.card-body.text-center
            h5.card-title.mb-3 #{display}
            p.text-muted This playlist is protected. Enter the PIN to continue.

            if error
              div.alert.alert-danger(role='alert') #{error}

            form#lockForm(method='POST', action='/playlists/' + playlistId + '/unlock')
              div.mb-3
                input#pinInput.form-control.text-center(
                  type='password',
                  name='pin',
                  placeholder='Enter PIN',
                  autocomplete='off',
                  autofocus,
                  maxlength='4',
                  pattern='[0-9]{4}',
                  inputmode='numeric'
                )
              button.btn.btn-primary.d-block.w-100(type='submit') Unlock
            a.btn.btn-secondary.btn-block.mt-2(href='/playlists') Cancel
            script.
              document.getElementById('pinInput').addEventListener('keydown', function(e) {
                if (e.key === 'Enter') { e.preventDefault(); document.getElementById('lockForm').submit(); }
              });
